html{
	background-color: #242038;
}

#bg{
	position: absolute;
	background-color: #725AC1;
	outline-style: solid;
	outline-width: 5px;
	outline-color: black;
	left: 10%;
	top: 3%;
	width: 80%;
	height: 96%;

}

#logo{
	position: relative;
	width: 590px;
	height: 305px;
	left: 50%;
	margin-left: -295px;
	top: 1%;
}


#sideImages{
	border-style: solid;
	border-color: #023047;
	border-width: 5px;
	margin-right: 10px;
	margin-top: 40px;
	width: 40%;
	height: 40%;
}

#verticalImage{
	width: 270px;
	height: 480px;
	border-style: solid;
	border-color: #023047;
	border-width: 5px;
}

#p2{
		margin-left: 20px;
}

#bottomImages{
	position: relative;
	left: 50%;
	border-style: solid;
	border-color: #023047;
	border-width: 5px;
	width: 540px;
	height: 338px;
	margin-left: -270px;
}

#contacts{
	position: fixed;
	top: 90%;
	left: 65%;
	display: flex;
	margin-left: 5%;
	z-index: 2;
}

#tel{
	margin-left: 10px;
}

#facebook{
	margin-left: 10px;
}

#instagram{
	margin-left: 10px;
}

p{
		position: relative;
		font-size: 45px;
	}

@media only screen and (max-width: 1000px){
	p{
		position: relative;
		font-size: 40px;
	}

	#contacts{
		margin-left: -40px;
		top: 95%;
	}

}

#Page{
	display: flex;
}
