html{
	background-color: #033D06;
	height: 1700px;
}

#logo{
	position: absolute;
	width: 590px;
	height: 305px;
	top: 50px;
	left: 50%;
	margin-left: -295px;
}


#bg{
	position: relative;
	background-color: #725AC1;
	outline-style: solid;
	outline-width: 5px;
	outline-color: black;
	top: 300px;
	width: 100%;
	align-content: center;
}

#sideImages{
	border-style: solid;
	border-color: #023047;
	border-width: 5px;
	margin-right: 10px;
	margin-top: 40px;
	width: 40%;
	height: 40%;
}

#verticalImage{
	width: 270px;
	height: 480px;
	border-style: solid;
	border-color: #023047;
	border-width: 5px;
}

#p2{
	margin-left: 20px;
	width: 500px;
}

#bottomImages{
	position: relative;
	left: 50%;
	border-style: solid;
	border-color: #023047;
	border-width: 5px;
	width: 540px;
	height: 338px;
	margin-left: -270px;
}

#contacts{
	display: flex;
	flex-direction: row;
	height: 65px;
}

#tel{
	margin-left: 10px;
	margin-top: 5px;
}

#facebook{
	margin-left: 10px;
	margin-top: 5px;
}

#instagram{
	margin-left: 10px;
	margin-top: 5px;
}

#tiktok{
	margin-left: -10px;
	margin-top: 5px;
}

p{
		position: relative;
		font-size: 45px;
	}

@media only screen and (max-width: 768px){
	#bg{
		height: 96%;
	}

	p{
		position: relative;
		font-size: 40px;
	}

	#contacts{
		margin-left: -40px;
		top: 95%;
	}

}

#Page{
	display: flex;
}